@model Gp_project.ViewModels.SuppliedMaterials

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Material</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(x => x.supply_material.MaterialID)
            @Html.DropDownListFor(x => x.supply_material.MaterialID, new SelectList(Model.materials, "materialID", "materialName"), "Select Material", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.supply_material.MaterialID)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.supply_material.Price)
            @Html.TextBoxFor(x => x.supply_material.Price, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(x => x.supply_material.Price)

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.supply_material.amount)
            @Html.TextBoxFor(x => x.supply_material.amount, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(x => x.supply_material.amount)

        </div>
        <button type="submit" class="btn btn-danger">Edit</button>

    }
</div>

